.container {
  max-width: 768px;
  margin: 0 auto;
  padding-top: 40px;
}

.mt-3 {
  margin-top: 12px;
}

.container > div {
  margin: 8px 0;
}

input {
  width: 100%;
  padding: 6px 10px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  outline: none;
  padding: 5px 15px;
  cursor: pointer;
}
